name: scan_alist

on:
  workflow_dispatch:
  push:
    paths:
      - 'scan_alist.py'
      - 'duplicate.txt'

jobs:
  run-scan:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install requests pytz

      - name: Run Scan
        run: python scan_alist.py

      - name: Push Results
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          export TZ='Asia/Shanghai'
          
          # 添加结果目录
          git add scan_results/*.txt
          
          if git diff --staged --quiet; then
            echo "No changes"
          else
            git commit -m "Update results by extension - $(date +'%Y-%m-%d %H:%M')"
            git push
          fi
